{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- THIS IS THE HEADPART of HTMLFile  -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/styles.css" />
    <title>cyblocks-- Learn Blockchain Development and More !!</title>
  </head>
  <!-- ENd of HEAD -->




  <!-- Start of the BodyPart -->
  <body>


    <!-- THE NAVBAR Starts here -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark navtop" id="backtotopbtn">
      <div class="container navbarkacontainer">
        <a href="/" class="navbar-brand">
          <img src="static/logo-trans-cy.png" class="logoofclub" alt="cyblocks" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle = "collapse"
          data-bs-target = "#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse bg-dark" id="navmenu">
          <ul class="navbar-nav ms-auto menuul">
            <li class="nav-item menuitem">
              <a href="/aboutus" class="nav-link">About Us</a>
            </li>
            <li class="nav-item menuitem">
              <a href="/events" class="nav-link">Events</a>
            </li>
            <li class="nav-item menuitem">
              <a href="/projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item menuitem">
              <button
                type="button"
                class="btn btn-outline-light light-buttonapna btn-lg my-2"
              >
                <a href="/join" >Join Club</a>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of NAVbar -->
    {% comment %} Main Content {% endcomment %}
    {% block content %}

    {% endblock %}
    {% comment %} End of Main Content {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>>
  </body>

  <footer class="bg-dark text-light py-5 mt-5" id = "footer">
    <div class="container text-left text-md-left">
      {% comment %} ROW 1 {% endcomment %}
      <div class="row text-left text-md-left">

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-logocol">Links</h5>
          <p>
            <a href="#backtotopbtn" class="txt-wh">Back to Top</a>
          </p>
          <p>
            <a href="/aboutus" class="txt-wh">About Us</a>
          </p>
          <p>
            <a href="/events" class="txt-wh">Events</a>
          </p>
          <p>
            <a href="/projects" class="txt-wh">Projects</a>
          </p>
        </div>
{% comment %} Social MEDIA ROW 3 {% endcomment %}
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-logocol">Follow us</h5>
          <p>
            <a href="#" class="txt-wh">Instagram</a>
          </p>
          <p>
            <a href="#" class="txt-wh">Github</a>
          </p>
          <p>
            <a href="#" class="txt-wh">Linked In</a>
          </p> 
        </div>
{% comment %} ROW2 {% endcomment %}
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-logocol">CONTACT US</h5>
          <p>
            <i class="fas fa-envelope mr-3"></i>cyblocksniet@gmail.com
          </p>
          <p>
            <i class="fas fa-home mr-3"></i>Plot 19, Noida Institute of Engineering & Technology, Gr. Noida, 201310
          </p>
          
        </div>
      </div>
    </div>
  </footer>
</html>
