{% extends 'index0.html' %}
{% block content %}

<section>
    <div class="container bg-dark form text-light p-5">

        <div class="d-md-flex my-5">
            <img src="static/correct.png" alt="correct tick" class = "img-fluid ticmarkpic mx-3">
            <h2 class="my-3">
                Thankyou for submitting the form.
                <br>
                Your registration will be considered soon.
            </h2>
        </div>

        <button class="btn btn-outline-light light-buttonapna btn-lg" id="backtobtn">
            <a href="/">Back to Homepage</a>
        </button>

    </div>
</section>

{% endblock %}